.navbar-blue {
	background-color: #0B468B;
	border-color: #064186;
	max-height: 50px;
}

.navbar-brand{
	color: #DBEAFD;
}
.navbar-brand:hover {
	color: #FFF;
}

.navbar-nav > li > a {
	color: #72ACF3;
}

.navbar-nav > li > a:hover {
	color: #fff;
	background-color: #1B569B;
}

.masthead{
	position: relative;
	width: 100%;
	height: 400px;
	z-index: 1;
	background: url(../../assets/images/masthead.jpg) no-repeat center;
	background-size: cover;
	margin-bottom: 100px;
}
.masthead-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50); /*for IE8 and earlier*/
	z-index:2;
}

.masthead-content{
	position: relative;
	height: 100%;
	color: #FFF;
	z-index: 3;
}

.masthead-content > .title {
	padding-top: 150px;
	padding-bottom: 10px;
	font-size: 36pt;
	font-style: italic;
	border-bottom: 1px #F33 solid;
}

.page-wrapper{
	padding: 50px 0 0 0;
	margin: 0;
}

.main-button {
	margin-top: 50px;
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 40px;
	padding-right: 40px; 
}

.btn-circle{
	width: 150px;
    height: 150px;
    padding: 10px 16px;
    border-radius: 75px;
    font-size: 36px;
    line-height: 1.33;
    border-width: 2px;
}

.btn-outline{
	color: inherit;
	background-color: transparent;
	transition: all .5s;
}