.navbar-blue {
	background-color: #0B468B;
	border-color: #064186;
	max-height: 50px;
}

.navbar-brand{
	color: #DBEAFD;
}
.navbar-brand:hover {
	color: #FFF;
}

.navbar-nav > li > a {
	color: #72ACF3;
}

.navbar-nav > li > a:hover {
	color: #fff;
	background-color: #1B569B;
}

.masthead{
	position: relative;
	width: 100%;
	height: 400px;
	z-index: 1;
	background: url(../../assets/images/masthead.jpg) no-repeat center;
	background-size: cover;
	margin-bottom: 50px;
}
.masthead-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50); /*for IE8 and earlier*/
	z-index:2;
}

.masthead-content{
	position: relative;
	height: 100%;
	color: #FFF;
	z-index: 3;
}

.masthead-content > .title {
	padding-top: 150px;
	padding-bottom: 10px;
	font-size: 42pt;
	border-bottom: 1px #F33 solid;
}

.page-wrapper{
	padding: 50px 0 0 0;
	margin: 0;
}

.main-button {
	margin-top: 50px;
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 40px;
	padding-right: 40px;
}

.btn-main-menu{
	color:#FFF;
	background-color: #79BD9A;
	border-color: #84C29F;
}
.btn-main-menu.btn-outline{
	color: #79BD9A;
}
.btn-main-menu.btn-outline:hover{
	color: #FFF;
	background-color: #79BD9A;
}

.btn-circle{
	width: 150px;
    height: 150px;
    padding: 10px 16px;
    border-radius: 75px;
    font-size: 36px;
    line-height: 1.33;
    border-width: 2px;
}

.btn-outline{
	color: inherit;
	background-color: transparent;
	transition: all .5s;
}

#main-menu {
	margin-bottom: 30px;
	margin-top: 30px;
}

/*Museo Fonts Kit*/
.Museo-700 { 
	font-family: Museo-700;
	font-weight: normal;
	font-style: normal;
}
.Museo-300 { 
	font-family: Museo-300;
	font-weight: normal;
	font-style: normal;
}
.Museo-500 { 
	font-family: Museo-500;
	font-weight: normal;
	font-style: normal;
}
.MuseoSlab-500 { 
	font-family: MuseoSlab-500;
	font-weight: normal;
	font-style: normal;
}
.MuseoSlab-500Italic { 
	font-family: MuseoSlab-500Italic;
	font-weight: normal;
	font-style: normal;
}

.quiz-title{
	margin-top: 30px;
	margin-bottom:30px;
	font-family: 'Museo-700';
	font-size: 18pt;
	color:#79BD9A;
}

.inset-wrapper{
	margin: 50px auto 50px auto;
	padding: 30px 30px 20px 30px;
	border: 1px #AAA solid;
	background-color: #FFF;
}

@media (min-width: 768px) {
  .inset-wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .inset-wrapper {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .inset-wrapper {
    width: 900px;
  }
}

#quizheader{
	min-height: 250px;
	margin: 0 0 30px 0;
	background-color: #A8DBA8;
}

#header-logo{
	color: #FFF;
	padding-top: 40px;
	font-size: 24pt;
}

#header-title{
	color: #FFF;
	font-size: 36pt;
	padding-top: 50px;
	border-bottom: 2px #FFF solid;
}

#header-subtitle{
	color: #FFF;
	padding-top: 10px;
	padding-right: 50px;
	overflow: hidden;
	font-size: 16pt;
}

.question{
	color: #333;
	font-size: 14pt;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 0 10px 0 10px;
}
.answer{
	margin-left: 30px;
	margin-right: 30px;
	width: 90%;
	height: 100px;
	margin-bottom: 50px;
	resize:none;
}

.tombols{
	margin-bottom: 30px;
}

.hasilbox{
	width: 500px;
	position:absolute;
	border: 1px #222 solid;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
}

.hasil-head{
	font-size: 30pt;
	color: #444;
}

.hasil-subtitle{
	color: #444;
	font-size: 16pt;
}

.header-text{
	font-size: 36pt;
}

.login-panel{
    margin-top: 50px;
}

.adminbutton{
    color:#FFCC00 !important;
}

.text-bold{
	font-weight: bold;
}